<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseConnection" value="DefaultConnection"/>
	</appSettings>
	<connectionStrings>
		<add name ="DefaultConnection" connectionString="Data Source=IRINA\SQLEXPRESS;
			 Initial Catalog=RemMeProjectV3_db;
			 Integrated Security=SSPI;
			 TrustServerCertificate=true;
			 Timeout=5"/>
	</connectionStrings>
</configuration>